@import "http://fonts.googleapis.com/css?family=Lemon"; 
@import "http://fonts.googleapis.com/css?family=Nova+Slim"; 
@import "http://fonts.googleapis.com/css?family=Handlee"; 
 
@import "https://mal-image.appspot.com/anime/Rignak/?code=%23list_surround%20table%3Anth-of-type(1n%2B4)%20tbody%3Ahover%20.animetitle%5Bhref*%3D%22%2F%5BTYPE%5D%2F%5BID%5D%22%5D%20%7Bbackground-image%3A%20url(%5BURL%5D)%3B%7D%0A"; /* Automatic cover*/

@import "https://rawgit.com/Rignak/MyAnimeList-css/master/AnimeImage.css";
@import "https://rawgit.com/Rignak/MyAnimeList-css/master/MalMenu.css"; /* FOR THE MENU*/
  
body { 
background-image: url(https://dl.dropbox.com/s/133pwiwn3mhha2s/Death%20Knight.jpg); 
background-attachment: fixed; 
background-size: cover; 
cursor:url(http://cur.cursors-4u.net/games/gam-3/gam243.png) 1 2, auto;
}
a:hover {
cursor: url(http://www.hiveworkshop.com/forums/attachments/world-editor-help-zone-98/2323d1171206607-reskin-wow-cursor-arrow.png) 1 2, auto;
}
  
/* 
HEADER COLOR AND FONT 
These codes control the main headers' fonts and colors. Every header is above each part of your list (they say things like Currently Watching, Completed, Dropped, etc). 
*/
  
.header_title { 
background-color: rgba(14, 18, 29, 0.500); 
color: #FFFFFF; 
font-family: 'Handle', cursive; 
font-size:24px; 
border-radius: 20px 20px 0px 0px; 
font-weight: 700; 
text-align: center; 
text-shadow: 3px -1px 5px #0C0C0C; 
} 
  
  
/* 
SUB-HEADERS BACKGROUND COLOR COLOR 
Below each main header is the sub-header which says Score, Episodes, Tags, etc. 
*/
  
.table_header { 
background-color: rgba(14, 18, 29, 0.500); 
} 
  
  
/* 
ANIME/MANGA TITLE FONTS 
This is the type and color of the anime/manga titles on your list, like Bleach, Vampire Knight, etc. 
*/
  
.animetitle, .animetitle:visited { 
color:white; 
font-family:  'Nova Slim' cursive; 
font-size:16px; 
text-shadow: 4px -1px 5px #0C0C0C; 
} 
  
.animetitle + small { 
color:#B6B6C5; 
font-family:  'Nova Slim' cursive; 
font-size:12px; 
} 
  
  
/* 
LIST FONTS 
This is the type and color for more of the numbers, links, and words on the list itself! 
*/
  
.td1, .td2, a, a:visited, .category_totals, .table_header, #grand_totals, #copyright { 
color:white; 
font-size:12px; 
font-family:  'Nova Slim' cursive; 
text-shadow: 4px -1px 5px #0C0C0C; 
} 
  
/* 
LIST WIDTH 
Use this to increase the width of your list! 
*/
  
#list_surround { 
margin: -0px auto 0; 
width:950px; 
} 
  
  
/* 
LIST POSITION 
Change "left" to "right" to switch the list side, or vice versa. 
*/
#list_surround { 
position: relative; 
} 
  
/*OTHER CODES 
Important codes for the layout's setup. Please don't mess with these unless you know what you're doing.
*/
  
  
body { 
font-weight: light; 
background-repeat: no-repeat; 
background-color: #FFFFFF; 
} 
a { 
text-decoration:none; 
} 
a:visited { 
text-decoration:none; 
} 
a:hover, a:visited:hover { 
color:#A6A6C7; 
text-decoration:none; 
} 
.category_totals, 
.td1, 
.td2, 
#grand_totals, 
#copyright { 
background-color: rgba(14, 18, 29, 0.200); 
border-width:0; 
transition: all .8s ease .1s;/* CSS3 reference */
-o-transition: all .8s ease .1s; /* for Opera compatibility */
-ms-transition: all .8s ease .1s; /* for IE compatibility(I think) */
-moz-transition: all .8s ease .1s; /* for Firefox compatibility */
-webkit-transition: all .8s ease .1s; /* for Chrome, Safari compatibility */
} 
  
.category_totals a, 
.td1:nth-of-type(1), .td2:nth-of-type(1){ 
 font-weight: bold;} 
td:nth-of-type(3){ 
 font-weight: bold;} 
td:nth-of-type(5) { 
 font-weight: bold;} 
#grand_totals a, 
#copyright a { 
transition: all .8s ease .1s;/* CSS3 reference */
-o-transition: all .8s ease .1s; /* for Opera compatibility */
-ms-transition: all .8s ease .1s; /* for IE compatibility(I think) */
-moz-transition: all .8s ease .1s; /* for Firefox compatibility */
-webkit-transition: all .8s ease .1s; /* for Chrome, Safari compatibility */
} 

.category_totals:HOVER, 
.td1:HOVER, 
.td2:HOVER, 
#grand_totals:HOVER, 
#copyright:HOVER {background-color:rgba(14, 18, 29, 0.450); 
border-width:0; 
} 
#copyright { 
margin-bottom: 30px !important; 
border-radius: 20px; 
padding: 10px; 
} 
.status_selected { 
background-color:black; 
padding:2px; 
color:white; 
text-decoration: blink; 
} 
.status_not_selected { 
background-color:black; 
padding:2px; 
color:white; 
} 
.status_selected a{ 
color:blue; 
} 
.status_not_selected a{ 
color:white; 
} 
.thickbox { 
color:cyan; 
font-family:fantasy; 
font-size:15px; 
} 
.header_title { 
padding:2px; 
} 
.table_header { 
border-width:0; 
font-weight:bold; 
padding:2px; 
} 
.category_totals { 
border-radius: 0px 0px 20px 20px; 
height: 40px; 
text-align: center; 
}
//-----------------------------------------------------------------------------
// Tag Area

span[id*="tagLinks"] a {
font-size: 13px !important;
color: white !important;
font-family: Nova Slim;}

span[id*="tagLinks"] {
width: 40% !important;
}

//----------
.table_header:nth-of-type(5) {
display: none;
}

td:nth-of-type(5)a {
display: none;
}
//------------

.td1:nth-of-type(5) a, .td2:nth-of-type(5) a {
background-color: rgba(0, 0, 0, 0) !important;
position: absolute;
}

.table_header:nth-of-type(5) {
width: 1px !important;
font-size: 0 !important;
}

.td1:nth-of-type(5), .td2:nth-of-type(5) {
display: none;
width: 1px !important;
}

span[id*="tagLinks"] {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
color: rgba(0, 0, 0, 0);
font-size: 13px !important;
left: 250px !important;
margin-top: 10px !important;
position: absolute !important;
}

span[id*="tagLinks"] a {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
left: 20px !important;
position: relative !important;
text-decoration: none !important;
top: 160px;
}

tbody:hover .td1:nth-of-type(5), tbody:hover .td2:nth-of-type(5) {
display: block;}
