@import "https://fonts.googleapis.com/css?family=Nova+Slim"; 
@import "https://fonts.googleapis.com/css?family=Handlee"; 
   
@import "https://rawgit.com/Rignak/MyAnimeList-css/master/MalMenu.css";
@import "https://malscraper.azurewebsites.net/covers/manga/Rignak/presets/animetitle";

body {
background-image: url(https://dl.dropbox.com/s/133pwiwn3mhha2s/Death%20Knight.jpg); 
background-attachment: fixed; 
background-size: cover; 
font-weight: light; 
background-repeat: no-repeat; 
cursor:url(http://cur.cursors-4u.net/games/gam-3/gam243.png) 1 2, auto;
}

a:hover {
cursor: url(http://www.hiveworkshop.com/forums/attachments/world-editor-help-zone-98/2323d1171206607-reskin-wow-cursor-arrow.png) 1 2, auto;
}
a { 
text-decoration:none; 
} 
a:visited { 
text-decoration:none; 
} 
a:hover, a:visited:hover { 
color:#A6A6C7; 
text-decoration:none; 
} 
  

/* Header: Reading/Completed... */
.header_title { 
background-color: rgba(14, 18, 29, 0.500); 
color: #FFFFFF; 
font-family: 'Handle', cursive; 
font-size:24px; 
border-radius: 20px 20px 0px 0px; 
font-weight: 700; 
text-align: center; 
text-shadow: 3px -1px 5px #0C0C0C; 
} 
  
/* Sub-header : Name/Score/Type/Progress...*/
.table_header { 
background-color: rgba(14, 18, 29, 0.500); 
} 
  
/* Anime title*/
.animetitle, .animetitle:visited { 
color:white; 
font-family:  'Nova Slim' cursive; 
font-size:16px; 
text-shadow: 4px -1px 5px #0C0C0C; 
} 
.animetitle + small { 
color:#B6B6C5; 
font-family:  'Nova Slim' cursive; 
font-size:12px; 
} 
  
/*Content*/
.td1, .td2, a, a:visited, .category_totals, .table_header, #grand_totals, #copyright { 
color:white; 
font-size:12px; 
font-family:  'Nova Slim' cursive; 
text-shadow: 4px -1px 5px #0C0C0C; 
} 
  
#list_surround { 
margin: -0px auto 0; 
width:950px;   /*List width*/
position: relative;  /*List position*/
} 

.category_totals, 
.td1, 
.td2, 
#grand_totals, 
#copyright { 
background-color: rgba(14, 18, 29, 0.200); 
border-width:0; 
transition: all .8s ease .1s;/* CSS3 reference */
-o-transition: all .8s ease .1s; /* for Opera compatibility */
-ms-transition: all .8s ease .1s; /* for IE compatibility(I think) */
-moz-transition: all .8s ease .1s; /* for Firefox compatibility */
-webkit-transition: all .8s ease .1s; /* for Chrome, Safari compatibility */
} 
  
.category_totals a, 
.td1:nth-of-type(1), .td2:nth-of-type(1){ 
 font-weight: bold;} 
td:nth-of-type(3){ 
 font-weight: bold;} 
td:nth-of-type(6) { 
 font-weight: bold;} 
#grand_totals a, 
#copyright a { 
transition: all .8s ease .1s;/* CSS3 reference */
-o-transition: all .8s ease .1s; /* for Opera compatibility */
-ms-transition: all .8s ease .1s; /* for IE compatibility(I think) */
-moz-transition: all .8s ease .1s; /* for Firefox compatibility */
-webkit-transition: all .8s ease .1s; /* for Chrome, Safari compatibility */
} 
 
.category_totals:HOVER, 
.td1:HOVER, 
.td2:HOVER, 
#grand_totals:HOVER, 
#copyright:HOVER {background-color:rgba(14, 18, 29, 0.450); 
border-width:0; 
} 

#copyright { 
margin-bottom: 30px !important; 
border-radius: 20px; 
padding: 10px; 
} 

.status_selected { 
background-color:black; 
padding:2px; 
color:white; 
text-decoration: blink; 
} 
.status_not_selected { 
background-color:black; 
padding:2px; 
color:white; 
} 
.status_selected a{ 
color:blue; 
} 
.status_not_selected a{ 
color:white; 
} 

.thickbox { 
color:cyan; 
font-family:fantasy; 
font-size:15px; 
} 
.header_title { 
padding:2px; 
} 

.table_header { 
border-width:0; 
font-weight:bold; 
padding:2px; 
} 
.category_totals { 
border-radius: 0px 0px 20px 20px; 
height: 40px; 
text-align: center; 
}

/*Tag Area*/
span[id*="tagLinks"] a {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
left: 20px !important;
position: relative !important;
text-decoration: none !important;
top: 160px;
font-size: 11px ;
color: white;
font-family: Nova Slim;}

span[id*="tagLinks"] {
width: 40%;
}

.table_header:nth-of-type(6) {
display: none;
}
.table_header:nth-of-type(6) {
width: 1px;
font-size: 0;
}

td:nth-of-type(6) div a {
display: none;
}

.td1:nth-of-type(6) a, .td2:nth-of-type(6) a {
background-color: rgba(0, 0, 0, 0);
position: absolute;
}
.td1:nth-of-type(6), .td2:nth-of-type(6) {
display: none;
width: 1px;
}

span[id*="tagLinks"] {
color: rgba(0, 0, 0, 0);
font-size: 13px !important;
left: 250px !important;
margin-top: 10px !important;
position: absolute !important;
}

/*Cover area*/

tbody:hover .td1:nth-of-type(6), tbody:hover .td2:nth-of-type(6) {
display: block;}

#list_surround table:nth-of-type(1n+4) tbody .animetitle{
	background-size: 0px 0px;}
#list_surround table:nth-of-type(1n+4) tbody:hover .animetitle
{
	background-size: cover;
    display: inline-block !important;
    visibility:visible;
    width: 225px;
    height: 320px;
    line-height: 320px;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 2px rgb(13, 13, 13) inset;
	z-index: 1000;
}

#list_surround table:nth-of-type(n+4) tbody:hover .animetitle span { 
    display: inline-block;
    position: relative;
    top: 20%;
    line-height: 20px;
    left: 230px;
    padding: 5px;
    background: rgba(190, 52, 250, 0.400);
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 1px #EFEDED inset;
    transform:rotate(6deg);
    -o-transform:rotate(6deg);
    -ms-transform:rotate(6deg);
    -moz-transform:rotate(6deg);
    -webkit-transform:rotate(6deg);
}

#list_surround table:nth-of-type(n+4) tbody:hover .animetitle + small { 
    transform:rotate(-20deg);
    -o-transform:rotate(-20deg);
    -ms-transform:rotate(-20deg);
    -moz-transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);

    background: #FFCC00;
    border-radius: 0.5em;
    box-shadow: 0px 0px 6px 1px #0000AA inset;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    left: -227px;
    padding: 5px;
    position: relative;
    text-shadow: 0px 0px 5px #000000 !important;
    top: 15px;
    z-index: 100;
}
